@media only screen and (min-width: 769px){
    
    body{
        margin: 40px 80px;
        background-image: url("/images/site/small_check.jpg");
        background-repeat: repeat;
    }

    .site-wrapper {
        background: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    footer{
        padding: 10px;
    }
    
    #tools{
        margin: 15px 20px;
    }

    nav #nav-display li{
        margin: 0 4rem;
        padding: 2px;
    }

    #banner img{
        width: 70%;
        margin-left: 10rem;
    }

    #banner div{
        padding: 5px;
        width: 30%;
        height: 80%;
        top: 5%;
        left: 5%;
    }

    #banner div p{
        padding: 8px 0;
        font-size: 1.2rem;
    }
    #banner div img {
        width: 40%;
        height: 45px;
        margin: 30px 0;
    }

    #delorean{
        display: flex;
        flex-direction: row-reverse;
    }

    #reviews,
    #upgrades {
        flex: 1;
        min-width: 0;
    }

    #upgrades h2{
        grid-column: 1/3;
        margin: 0 8px;
        font-size: 1.4rem;
    }

    #reviews li{
        font-size: 1.2rem;
        padding: 15px 2px;
        margin-left: 20px;
    }

    #reviews h2{
        
        font-size: 1.4rem;
    }
    
    #item-display{
        grid-template-columns: 1fr 1fr;
    }
}